body {
    font-family: 'Open Sans', sans-serif;
}
/* background-color */
.white_bac {
    background-color: #fff;
}
.red_bac {
    background-color: red;
}
.green_bac {
    background-color: #46cc4b;
}
/* color */
.white {
    color: #fff;
}
.dgrey {
    color: darkgray;
}